themes {
  noctalia {
    fg "#f2f2f3"
    bg "#141529"
    black "#1b1c36"
    red "#fd4663"
    green "#6b73ea"
    yellow "#9b64de"
    blue "#c766cc"
    magenta "#9398ec"
    cyan "#bc96e9"
    white "#f2f2f3"
    orange "#fd8446"
  }
}
