themes {
  noctalia {
    fg "#e8e3cc"
    bg "#151407"
    black "#4b472b"
    red "#ffb4ab"
    green "#ffb783"
    yellow "#ffb783"
    blue "#d3c972"
    magenta "#ffb783"
    cyan "#ffb783"
    white "#e8e3cc"
    orange "#ffdeab"
  }
}
