themes {
  noctalia {
    fg "#e2e2e2"
    bg "#131313"
    black "#474747"
    red "#ffb4ab"
    green "#4cdadc"
    yellow "#b0cccc"
    blue "#b4c8e9"
    magenta "#4cdadc"
    cyan "#b0cccc"
    white "#e2e2e2"
    orange "#ffdeab"
  }
}
