themes {
  noctalia {
    fg "#f8dcda"
    bg "#1e100f"
    black "#5d3f3d"
    red "#ffb4ab"
    green "#fbacf8"
    yellow "#eeb4e9"
    blue "#ffb3af"
    magenta "#fbacf8"
    cyan "#eeb4e9"
    white "#f8dcda"
    orange "#ffdeab"
  }
}
