// See https://yalter.github.io/niri/Configuration:-Introduction
input {
    touchpad {
        tap
        natural-scroll
    }
    focus-follows-mouse max-scroll-amount="33%"
}
output "eDP-1" {
    scale 1.0
}
layout {
    gaps 4
    background-color "transparent"
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }
    default-column-width {
        proportion 0.5
    }
    tab-indicator {
        width 12
        gap 8
        length total-proportion=0.8
        position "top"
        place-within-column
    }
    focus-ring {
        on
        width 4
        active-gradient from="#09f" to="#0f9" angle=135
        inactive-gradient from="#555" to="#888" angle=135
        urgent-gradient from="#900" to="#090" angle=135
    }
}
overview {
    backdrop-color "#26233a"
}
spawn-at-startup "qs" "-c" "noctalia-shell"
prefer-no-csd
screenshot-path "~/Images/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
hotkey-overlay {
    skip-at-startup
}
animations {
    slowdown 0.6
}
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}
window-rule {
    match app-id="^org\\.gnome\\."
    draw-border-with-background false
    geometry-corner-radius 8
    clip-to-geometry true
}
window-rule {
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}
binds {
    Mod+Shift+Slash {
        show-hotkey-overlay
    }
    Mod+Shift+Comma {
        show-hotkey-overlay
    }
    Mod+Return hotkey-overlay-title="Open a Terminal" {
        spawn "kitty"
    }
    Mod+Space hotkey-overlay-title="Application Launcher" {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "toggle"
    }
    Mod+V hotkey-overlay-title="Clipboard Manager" {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "plugin:clipper" "toggle"
    }
    Mod+M hotkey-overlay-title="Task Manager" {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "systemMonitor" "toggle"
    }
    Mod+S hotkey-overlay-title="Settings" {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "settings" "toggle"
    }
    Mod+Shift+N hotkey-overlay-title="Notification Center" {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "notifications" "toggleHistory"
    }
    Mod+N hotkey-overlay-title="Nautilus" {
        spawn "nautilus"
    }
    Mod+W hotkey-overlay-title="LibreWolf" {
        spawn "flatpak" "run" "io.gitlab.librewolf-community"
    }
    Mod+B hotkey-overlay-title="Thunderbird" {
        spawn "flatpak" "run" "org.mozilla.Thunderbird"
    }
    Mod+E hotkey-overlay-title="Text Editor" {
        spawn "flatpak" "run" "org.gnome.TextEditor"
    }
    Mod+Alt+L hotkey-overlay-title="Lock Screen" {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "lockScreen" "lock"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "3%+"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "3%-"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86AudioPlay allow-when-locked=true {
        spawn "playerctl" "play-pause"
    }
    XF86AudioNext allow-when-locked=true {
        spawn "playerctl" "next"
    }
    XF86AudioPrev allow-when-locked=true {
        spawn "playerctl" "previous"
    }
    XF86AudioStop allow-when-locked=true {
        spawn "playerctl" "stop"
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "set" "5%+"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "set" "5%-"
    }
    Mod+O repeat=false {
        toggle-overview
    }
    Mod+Q repeat=false {
        close-window
    }
    Mod+Left {
        focus-column-left
    }
    Mod+Down {
        focus-window-down
    }
    Mod+Up {
        focus-window-up
    }
    Mod+Right {
        focus-column-right
    }
    Mod+H {
        focus-column-left
    }
    Mod+J {
        focus-window-down
    }
    Mod+K {
        focus-window-up
    }
    Mod+L {
        focus-column-right
    }
    Mod+Home {
        focus-column-first
    }
    Mod+End {
        focus-column-last
    }
    Mod+Ctrl+Left {
        move-column-left
    }
    Mod+Ctrl+Down {
        move-window-down
    }
    Mod+Ctrl+Up {
        move-window-up
    }
    Mod+Ctrl+Right {
        move-column-right
    }
    Mod+Ctrl+H {
        move-column-left
    }
    Mod+Ctrl+J {
        move-window-down
    }
    Mod+Ctrl+K {
        move-window-up
    }
    Mod+Ctrl+L {
        move-column-right
    }
    Mod+Ctrl+Home {
        move-column-to-first
    }
    Mod+Ctrl+End {
        move-column-to-last
    }
    Mod+Shift+Left {
        focus-monitor-left
    }
    Mod+Shift+Down {
        focus-monitor-down
    }
    Mod+Shift+Up {
        focus-monitor-up
    }
    Mod+Shift+Right {
        focus-monitor-right
    }
    Mod+Shift+H {
        focus-monitor-left
    }
    Mod+Shift+J {
        focus-monitor-down
    }
    Mod+Shift+K {
        focus-monitor-up
    }
    Mod+Shift+L {
        focus-monitor-right
    }
    Mod+Shift+Ctrl+Left {
        move-column-to-monitor-left
    }
    Mod+Shift+Ctrl+Down {
        move-column-to-monitor-down
    }
    Mod+Shift+Ctrl+Up {
        move-column-to-monitor-up
    }
    Mod+Shift+Ctrl+Right {
        move-column-to-monitor-right
    }
    Mod+Shift+Ctrl+H {
        move-column-to-monitor-left
    }
    Mod+Shift+Ctrl+J {
        move-column-to-monitor-down
    }
    Mod+Shift+Ctrl+K {
        move-column-to-monitor-up
    }
    Mod+Shift+Ctrl+L {
        move-column-to-monitor-right
    }
    Mod+Page_Down {
        focus-workspace-down
    }
    Mod+Page_Up {
        focus-workspace-up
    }
    Mod+U {
        focus-workspace-down
    }
    Mod+I {
        focus-workspace-up
    }
    Mod+Ctrl+Page_Down {
        move-column-to-workspace-down
    }
    Mod+Ctrl+Page_Up {
        move-column-to-workspace-up
    }
    Mod+Ctrl+U {
        move-column-to-workspace-down
    }
    Mod+Ctrl+I {
        move-column-to-workspace-up
    }
    Mod+Shift+Page_Down {
        move-workspace-down
    }
    Mod+Shift+Page_Up {
        move-workspace-up
    }
    Mod+Shift+U {
        move-workspace-down
    }
    Mod+Shift+I {
        move-workspace-up
    }
    Mod+WheelScrollDown cooldown-ms=150 {
        focus-workspace-down
    }
    Mod+WheelScrollUp cooldown-ms=150 {
        focus-workspace-up
    }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 {
        move-column-to-workspace-down
    }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 {
        move-column-to-workspace-up
    }
    Mod+WheelScrollRight {
        focus-column-right
    }
    Mod+WheelScrollLeft {
        focus-column-left
    }
    Mod+Ctrl+WheelScrollRight {
        move-column-right
    }
    Mod+Ctrl+WheelScrollLeft {
        move-column-left
    }
    Mod+Alt+WheelScrollDown {
        focus-column-right
    }
    Mod+Alt+WheelScrollUp {
        focus-column-left
    }
    Mod+Alt+Ctrl+WheelScrollDown {
        move-column-right
    }
    Mod+Alt+Ctrl+WheelScrollUp {
        move-column-left
    }
    Mod+TouchpadScrollDown {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "3%-"
    }
    Mod+TouchpadScrollUp {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "3%+"
    }
    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }
    Mod+Ctrl+1 {
        move-column-to-workspace 1
    }
    Mod+Ctrl+2 {
        move-column-to-workspace 2
    }
    Mod+Ctrl+3 {
        move-column-to-workspace 3
    }
    Mod+Ctrl+4 {
        move-column-to-workspace 4
    }
    Mod+Ctrl+5 {
        move-column-to-workspace 5
    }
    Mod+Ctrl+6 {
        move-column-to-workspace 6
    }
    Mod+Ctrl+7 {
        move-column-to-workspace 7
    }
    Mod+Ctrl+8 {
        move-column-to-workspace 8
    }
    Mod+Ctrl+9 {
        move-column-to-workspace 9
    }
    Mod+BracketLeft {
        consume-or-expel-window-left
    }
    Mod+BracketRight {
        consume-or-expel-window-right
    }
    Mod+Comma {
        consume-window-into-column
    }
    Mod+Colon {
        expel-window-from-column
    }
    Mod+Period {
        expel-window-from-column
    }
    Mod+R {
        switch-preset-column-width
    }
    Mod+Y {
        switch-preset-window-height
    }
    Mod+Shift+Y {
        reset-window-height
    }
    Mod+F {
        maximize-column
    }
    Mod+Shift+F {
        fullscreen-window
    }
    Mod+Ctrl+F {
        expand-column-to-available-width
    }
    Mod+C {
        center-column
    }
    Mod+Ctrl+C {
        center-visible-columns
    }
    Mod+Minus {
        set-column-width "-10%"
    }
    Mod+Equal {
        set-column-width "+10%"
    }
    Mod+Shift+Minus {
        set-window-height "-10%"
    }
    Mod+Shift+Equal {
        set-window-height "+10%"
    }
    Mod+Shift+WheelScrollDown {
        set-column-width "-10%"
    }
    Mod+Shift+WheelScrollUp {
        set-column-width "+10%"
    }
    Mod+G {
        toggle-window-floating
    }
    Mod+Shift+G {
        switch-focus-between-floating-and-tiling
    }
    Mod+T {
        toggle-column-tabbed-display
    }
    Mod+X {
        switch-layout "next"
    }
    Mod+Shift+X {
        switch-layout "prev"
    }
    Print {
        screenshot
    }
    Mod+Print {
        screenshot-screen
    }
    Alt+Print {
        screenshot-window
    }
    Mod+Escape allow-inhibiting=false {
        toggle-keyboard-shortcuts-inhibit
    }
    Mod+Shift+E {
        quit
    }
    Ctrl+Alt+Delete {
        quit
    }
    Mod+Shift+P {
        power-off-monitors
    }
}
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}
window-rule {
    match app-id="org.quickshell$"
    open-floating true
}
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
include "./noctalia.kdl"
include "./burn-multicolor.kdl"
