layout {

    focus-ring {
        active-color   "#d7c950"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#d7c950"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#d7c950"
        inactive-color "#4f4800"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#d7c95080"
    }
}

recent-windows {
    highlight {
        active-color "#d7c950"
        urgent-color "#ffb4ab"
    }
}
