layout {

    focus-ring {
        active-color   "#2277c3"
        inactive-color "#dae6f1"
        urgent-color   "#d27484"
    }

    border {
        active-color   "#2277c3"
        inactive-color "#dae6f1"
        urgent-color   "#d27484"
    }


    tab-indicator {
        active-color   "#2277c3"
        inactive-color "#b2cde6"
        urgent-color   "#d27484"
    }

    insert-hint {
        color "#2277c380"
    }
}

recent-windows {
    highlight {
        active-color "#2277c3"
        urgent-color "#d27484"
    }
}
