layout {

    focus-ring {
        active-color   "#13186c"
        inactive-color "#dddeee"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#13186c"
        inactive-color "#dddeee"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#13186c"
        inactive-color "#666bcc"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#13186c80"
    }
}

recent-windows {
    highlight {
        active-color "#13186c"
        urgent-color "#fd4663"
    }
}
